<app-header></app-header>

<div class="hero min-h-screen"
  style="background-image: url(https://media.discordapp.net/attachments/806715624377155625/978031026007834694/sword-meme.png);">
  <div class="hero-overlay bg-opacity-80"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">SwordBattles</h1>
      <p class="mb-5">Alexander "Sword" Szymkiewicz is a retired Canadian coach most recently coaching for Raspberry
        Racers.</p>
      <button [routerLink]="['register']" class="btn btn-primary">Save Sword</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
